.width-50{
    width: 60%;
}
.width-400{
    width: 400px;
}

.thumbnail{
    width: 45%;
    height: 450px;  
    float: left;
}
.center{
    margin: auto;
}
.container1{
    width: 100%;
}
.txt-center{
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.rights{
    right: 0;
}
.radius{
    border-radius: 10px;
    outline: 0;
    box-shadow: 1px,1px,5px,1px;
}
.padding-10{ 
    padding: 10px;
}
.padding-30{
    padding: 20px;
}
.padding-50{
    padding: 50px;
}
.left-50{
    left: 50%;
    transform: translate(-50%,0);
}
.top-10{
    margin-top: 20px;
}
.left-10{
    margin-left: 10px;
}
.top{
    top: 0;
}
.top-50{
    bottom: 230px;
    transform: translate(0, -50%);
}
.top-500{
    top: 500px;
}
.mgtop{
    margin-top: 500px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.margin-top{
    margin-top: 50px;
}
.margin-left{
    margin-left: 30px;
}
.margin-right{
    margin-right: 30px;
}
.bgc{
    background-color: #ddd;
}

.click{
    cursor: pointer;
}
.click:hover{
    background-color: rgba(179, 179, 179, 0.8);
}
.click2{
	cursor: pointer;
}

.inline-b{
    display: inline-block;

}
.col{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    padding: 30px;
    width: 500px;
    height: 100px;

}
.mmm{
    margin-left: 100px;
}
.txt30{
 font-size: 30px;
 color: #fff;
 cursor: pointer;
}
.ace{
    border: 2px dashed;
}
.heights{
    min-height: 1000px;
}
.width300{
    width: 300px;
}
.gray{
    background-color: rgb(167, 147, 147);
    top: 0;
    left: 0;
}
.block{
    display: block;
}
.none{
    left: -300px;
}
.active{
    left: 0;
    transition: 0.5s;
}
.active2{
    display: block;
}
.dp-none{
    display: none;
}
.bgb{
    background-color: rgba(32, 30, 30, 0.7);
    height: 100%;
    width: 100%;
    border: 1px solid;
    position: fixed;
}
.top-100{
    margin-top: 100px;
}
.cons{
    width: 100%;
    height: 300px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
.cover{
    width: 100%;
    border: 3px dashed;
    white-space: nowrap;
    
}
.cols{
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: inline-block;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
}
.border{
    border: 1px dashed;
    
}
.border-none{
    border: none;
}
.bold{
    font-weight: bold;
}
.bt{
    background: none;
    font-size: 50px;
    color: rgb(192, 147, 147);
    
}
.txtdc{
    text-align: center;
    font-family: 'Noto Serif KR', serif;
    margin-bottom: 50px;
}
nav{
    width: 200px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 30px;
}
.fa-solid{
    cursor: pointer;
}
.container3{
    width: 1850px;
    height: 1800px;
    margin-top: 500px;
}
.colo{
    width: 1900px;
    position: relative;
    height: 300px;
}
.container4{
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background-color: rgb(175, 175, 175);
}
.ft0{
    font-size: 0;
}
.map{
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 80px;
    overflow: hidden;
}
.shadow{
    box-shadow: 1px 1px 5px 1px gray;
}

.conbtn{
    position: relative;
}
.conbtns{
    font-weight: bold;
}

.nextcontainer{
    display: none;
}

.login{
    position: fixed;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
}

.loginput{
    width: 80%;
    position: relative;
    left: 40px ;
    padding: 14px;
    margin-top: 50px;
    border-radius: 10px;
}
.topminus{
    top: -20px;
    right: 10px;
}
.allblack{
    position: absolute;
    width: 1895px;
    height: 4900px;
    top: 0;
    left: 0;
    background-color: rgba(32, 30, 30, 0.7);
    display: none;
}
.bottom{
    bottom: 30px;
}
.lb{
    padding: 15px;
    left: 210px;
}
.rb{
    padding: 15px;
    right: 210px;
}
.boxx{
    width: 300px;
    height: 100px;
    margin: auto;
}
.boxxtx{
    margin-top: 20px;
    position: relative;
    display: inline-block;

}
.boxx::after{
    clear: both;
    content: "";
    display: block;
}
.degree{
    position: relative;
    margin-top: 30px;
    left: 120px;
    display: block; 
    text-decoration: none;
    color: blue;
}
.degree:hover{
    color: red;
}
.bag-bg{
    position: absolute;
    width: 1895px;
    height: 4900px;
    top: 0;
    left: 0;
    background-color: rgba(32, 30, 30, 0.7);
    display: none;
}
.bag{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 300px;
    background-color: #fff;
    border: 1px solid;
}
.bag-text{
    text-align: center;
}

.count{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 20px;
    font-size: 20px;
    transform: translate(-50%,-50%);
    display: inline-block;
}

.bag-btn1{
    margin-top: 25px;
    left: 40px;
    padding-left : 20px;
    padding-right : 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.bag-btn2{
    margin-top: 25px;
    right: 40px;
    padding-left : 20px;
    padding-right : 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.bag-btn1:hover{
    background-color: #ddd;
}
.bag-btn2:hover{
    background-color: #ddd;
}

.check{
    cursor: pointer;
    width: 80px;
    bottom: 30px;
    padding: 10px;
    left: 50%;
    transform: translate(-50%);
}
.check:hover{
    background-color: rgba(132, 223, 223, 0.8);
}
#cons{
    transition: 0.5s ease-out;
}
body{
    min-height: 3000px;
}
.wrap{
    overflow: hidden;
    margin: auto;
    white-space: nowrap;
}
.container2{
    width: 1868px;
    height : 400px;
    transition: 0.5s;
    font-size: 0;
    
}
.wrap::after{
    clear: both;
    content: "";
    display: block;
}
.imagei{
	position:relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 1px 1px 5px 0px;
    display: inline-block;
    cursor: pointer;
}
.imagei2{
	position:absolute;
    width: 500px;
    height: 500px;
    object-fit: cover;
    box-shadow: 1px 1px 5px 0px;
    display: inline-block;
    cursor: pointer;
    top: 200px;
    left: 250px;
}
.imagei:hover{
    background-position: center;
    transform:scale(1.1);
    transition: 0.5s;
}
.imagei2:hover{
    background-position: center;
    transform:scale(1.1);
    transition: 0.5s;
}
.ims:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.bg-container{
    margin-top: 150px;
    width: 1800px;
    white-space: nowrap;
}
.bg-container::after{
    content: "";
    clear: both;
    display: block;
}
.bgimg1{
    display: inline-block;
    background-image: url(../img/thumb1.jpg);
    background-position: center;
    background-size: cover;
    width: 580px;
    margin-left: 30px;
    object-fit: cover;
    height: 580px;
    margin-bottom: 100px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px gray;
    margin-top: 20px;
    transition: 2s;
}

.bgimg2{
    display: inline-block;
    background-image: url(../img/thumb2.jpg);
    background-position: center;
    background-size: cover;
    width: 580px;
    height: 580px;
    object-fit: cover;
    margin-left: 20px;
    margin-bottom: 100px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px gray;
    transition: 2s;
}
.bgimg3{
    display: inline-block;
    background-image: url(../img/nail4.gif);
    background-position: center;
    background-size: cover;
    width: 580px;
    height: 580px;
    object-fit: cover;
    margin-left: 20px;
    margin-bottom: 100px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px gray;
    transition: 2s;
}
#nextimg1{
    display: none;
    background-image: url(../img/thumb3.jpg);
    background-position: center;
    background-size: cover;
    width: 580px;
    margin-left: 30px;
    object-fit: cover;
    height: 580px;
    margin-bottom: 100px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px gray;
    margin-top: 20px;
    border-radius: 10px;
    outline: 0;
    box-shadow: 1px, 1px, 5px, 1px;
    transition: 2s;
}
#nextimg2{
    display: none;
    background-image: url(../img/nail3.jpg);
    background-position: center;
    background-size: cover;
    width: 580px;
    margin-left: 20px;
    object-fit: cover;
    height: 580px;
    margin-bottom: 100px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px gray;
    border-radius: 10px;
    margin-top: 20px;
    transition: 2s;
}
#nextimg3{
    display: none;
    background-image: url(../img/clothes2.jpg);
    background-position: center;
    background-size: cover;
    width: 580px;
    margin-left: 20px;
    object-fit: cover;
    height: 580px;
    margin-bottom: 100px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px gray;
    margin-top: 20px;
    transition: 2s;
}


.center{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    color: rgb(158, 131, 131);
}
.fa-bars{
    color: rgba(30, 74, 87 , 0.8);
    
}
.slides{
	 transition: 0.5s;
}
.i_box{ /* 제품정령 */
	top: 200px;
	display:inline-block; 
	padding:10px 0;
	text-align: center; 
	height: 300px;
}
.i_name{ /* 제품 이름 스타일 */
	font-size: 20px;
	color:rgb(192, 147, 147);
}
.i_price{
	font-size: 18px;
	color:#0080c0192147147;
}
.top_table{
	display : inline-block;
	position: absolute;
}

.nav_bar{
	top : 0;
	left : 0;
	width: 1890px;
	background-color: #ddd;
	height: 90px;
	position :fixed;
}
.main_banner{
	position: fixed;
	top: 0;
	left : 50%;
	transform: translate(-50%,-15%);
	text-align: center;
	font-size: 25px;
}
.font_main{
	 font-family: fantasy;
	 }
	 
.buyi{
	position: absolute; 
	top: 1200px; 
	padding:150px; 
	padding-bottom:200px; 
	transform: translate(-50%,-48%); 
	cursor: pointer; 
	opacity: 0;
}
	 
.buyi:hover ~ .imagei{
    background-position: center;
    transform:scale(1.1);
    transition: 0.5s;
} 
	 
	 
.select_board{
	padding: 10px;
	padding-right: 200px;
	border-radius: 10px;
	float: left;
	cursor: pointer;
}

.option_sty{
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}
	 
.items_table{
	position: absolute;
	top: 200px;
	left : 55%;
}
	 
.btn_sty{
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 30px;
	padding-top: 30px;	
	margin-right: 50px;
	border-radius: 10px;
	border: none;
	background-color: #9faa55;
	color: white;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Nanum Pen Script', cursive;
}

.btn_sty2{
	padding-left: 95px;
	padding-right: 95px;
	padding-bottom: 30px;
	padding-top: 30px;	
	margin-right: 20px;
	border-radius: 10px;
	border: none;
	background-color: #6f7614;
	color: white;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Nanum Pen Script', cursive;
}

.btn_sty:hover {
	background-color: #4f5948;
	color: white;
}

.btn_sty2:hover {
	background-color: #275b24;
	color: white;
}

.prit{
	padding: 10px;
	border-radius: 10px;
	border: none;
	font-size: 35px; 
	font-weight : bold;
	font-family: 'Nanum Pen Script', cursive;
}

.pmb{
	padding: 10px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	background-color: white;
	font-size: 35px; 
	font-weight : bold;
}

.pmb:hover {
	background-color: #ddd;
}

	
	 
	 
	 
	 
	 
	 
	 